body {background-color:#ccccff;color:#ffffcc; font-family:"Comic Sans MS", cursive, sans-serif;}
h1{color:#ffffcc; 
  font-family:"Comic Sans MS", cursive, sans-serif;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;}
@keyframes slidein{
    from {
      margin-left: 100%;
      width: 200%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial;
  margin: 0 auto;
  color:#777; /* Center website */
  /*max-width: 800px; /* Max width */
  /*padding: 20px;*/
}
p span{background-color:#777;}
.bgimg1, .bgimg2, .bgimg3{
  position:relative;
  opacity:0.65;
  background-attachment: fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:75%
  ;
}
.bgimg1{
  background-image:url("bgimg1.jpg");
  min-height:100%;
}

.bgimg2{
  background-image:url("bgimg2.jpg");
  min-height:100%;
}
.bgimg3{
  background-image:url("bgimg3.jpeg");
  min-height:100%;
}
.caption{
  position:absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border{
  background-color: #000;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
  animation-duration:3s;
  animation-name: slidein;
}


/*Rating starts here*/
.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 0%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 0%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 0%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 0%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

/*Newsletter starts here*/
/* Style the form element with a border around it */
form {
  border: 2px solid#ffcc00;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #ffcc00;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}


/*Icon bar starts here*/
input[type=submit]:hover {
  opacity: 0.8;
}
.icon-bar {
  width: 75%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
  background-position: center;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}